@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <h1 class="text-center" style="background: rgba(255,255,255,0.45);margin: 7px;">Gerenciador do Site</h1>
    <div class="container-fluid text-center d-flex flex-column align-items-center" style="padding: 7px;"><a class="btn btn-primary" role="button" href="/Clientes" style="margin-bottom: 12px;margin-top: 24px;">Clientes</a><a class="btn btn-primary" role="button" style="margin-bottom: 12px;" href="/Aquisicoes">Aquisições</a><a class="btn btn-primary" role="button" style="margin-bottom: 12px;" href="/Contatoes">Contato</a><a class="btn btn-primary" role="button" style="margin-bottom: 12px;" href="/Viagens">Viagens</a></div>