@{
    ViewData["Title"] = "Contato";
}

    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Entre em contato conosco</h2>
                </div>
                <form asp-controller="Contatoes" asp-action="Create">
                    <div class="mb-3"></div>
                    <div class="mb-3"><label class="form-label" for="Nome">Nome</label><input class="form-control" type="text" name="nome" inputmode="latin-name" style="margin-bottom: 18px;" placeholder="Insira seu nome">
                    </div>
                     <div class="mb-3"><label class="form-label" for="Nome">E-mail</label><input class="form-control" type="email" name="email" inputmode="latin-name" style="margin-bottom: 18px;" placeholder="Insira seu Email">
                    </div>
                    <div class="mb-3"><label class="form-label" for="message">Mensagem</label><textarea class="form-control" id="message" inputmode="latin" name="mensagem"></textarea></div>
                    <div class="mb-3"></div>
                    <div class="col button"><button class="btn btn-primary text-center w-100" type="submit" style="margin: 0 auto;width: 50% !important;position: relative;display: inherit;">Enviar</button></div>
                </form>
            </div>
        </section>
    </main>