
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h3><br>Olá! Aqui selecionamos os&nbsp;<strong>melhores destinos pra você.&nbsp;</strong><br><br></h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/Home/FinalRioDeJaneiro"><img class="card-img-top scale-on-hover" src="~/img/rio-de-janeiro-capa2019-01%20(1).jpg" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Rio de Janeiro</a></h6>
                                <p class="text-muted card-text">A cidade do Rio de Janeiro, considerada uma das mais belas do mundo, é a capital do estado do Rio de Janeiro, na região Sudeste do Brasil. Todos os anos, suas belas praias atraem muitos turistas de outras partes do país e do exterior. No Carnaval, milhares de visitantes assistem aos desfiles das escolas de samba cariocas.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/Home/FinalParis"><img class="card-img-top scale-on-hover" src="~/img/alx_lista-capitais-europa-mundo-20100806-002_original3.jpeg?h=1a63cdde89c32cd4cb81a8883df9da00" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Paris&nbsp;</a></h6>
                                <p class="text-muted card-text">Paris tem muitos marcos célebres. Com sua silhueta elevada visível de longe, a Torre Eiffel tornou-se um símbolo da cidade. O grande Arco do Triunfo homenageia as conquistas militares de Napoleão. A Catedral de Notre-Dame, que foi construída entre os séculos XII e XIV, se destaca por seus vitrais coloridos e por seus altos arcos de pedra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/Home/FinalPolinesia"><img class="card-img-top scale-on-hover" src="~/img/polynesia-g488ffc8c3_1920.jpg?h=9c005313ea36f1540b6fbdce9f859b83" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#"><br>Polinésia Francesa<br></a></h6>
                                <p class="text-muted card-text">A&nbsp;Polinésia&nbsp;é uma região espetacular da Oceania que emerge, com suas costas extraordinariamente bonitas, entre a Nova Zelândia, a Ilha de Páscoa e o Havaí. A área é composta por mais de mil ilhas e ilhotas que emergem do Oceano Pacífico. Seus habitantes, os polinésios, partilham uma cultura extraordinária a ser descoberta<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/Home/FinalDisney"><img class="card-img-top scale-on-hover" src="~/img/Personagens-DisneyRoupa-50-anos.png?h=aecbf18abd161553ad16990d60f8b1f5" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Disney</a></h6>
                                <p class="text-muted card-text">Atualmente o complexo tem mais de 121 Km² de área (para se ter uma ideia é maior que a cidade de São Francisco), 4 parques temáticos e 2 aquáticos, com um centro de lazer e compras chamado Disney Springs e com mais de 25 resorts, com campo de golfe, complexo de esportes e mais uma infinidade de atividades e atrações.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/Home/FinalRoma"><img class="card-img-top scale-on-hover" src="~/img/passagens-aereas-roma-capa2019-01-820x430.jpg" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Roma</a></h6>
                                <p class="text-muted card-text">Roma, atual capital da Itália, é o centro de onde emergiu um dos mais extensos impérios constituídos durante a Antiguidade. Fixada na porção central da Península Itálica, esta cidade foi criada no século VIII a.C. e contou com diferentes influências culturais e étnicas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/Home/FinalDubai"><img class="card-img-top scale-on-hover" src="~/img/dubai.jpg" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Dubai</a></h6>
                                <p class="text-muted card-text">Mais moderna do que tradicional em relação aos outros territórios dos Emirados Árabes Unidos, Dubai passou por cima de seu clima desértico para chamar a atenção do mundo. A capital de mesmo nome combina um grande centro de negócios, lojas de luxo e muitas atrações para os visitantes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>