
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h3 style="font-size: 36.752px;margin: -25px;padding: -37px;"><br>Revise sua compra</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 offset-lg-4">
                        <div class="card border-0"><a href="/Home/FinalDubai"><img class="card-img-top scale-on-hover" src="/img/dubai.jpg" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Dubai</a></h6>
                                <p class="text-muted card-text">Mais moderna do que tradicional em relação aos outros territórios dos Emirados Árabes Unidos, Dubai passou por cima de seu clima desértico para chamar a atenção do mundo. A capital de mesmo nome combina um grande centro de negócios, lojas de luxo e muitas atrações para os visitantes..<br><a class="text-uppercase link-dark bg-primary bg-gradient border rounded-pill border-primary shadow-sm d-block" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" style="color: var(--bs-dark);font-size: 12.4px;line-height: 20.1px;letter-spacing: 1px;height: 42px;margin: 19px;" href="final-dubai.html">R$ 3.000,00<br>CLIQUE PARA FINALIZAR</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>