
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h3 style="font-size: 36.752px;margin: -25px;padding: -37px;"><br>Revise sua compra</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 offset-lg-4">
                        <div class="card border-0"><a href="FinalParis"><img class="card-img-top scale-on-hover" src="/img/alx_lista-capitais-europa-mundo-20100806-002_original3.jpeg" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Paris</a></h6>
                                <p class="text-muted card-text">Paris tem muitos marcos célebres. Com sua silhueta elevada visível de longe, a Torre Eiffel tornou-se um símbolo da cidade. O grande Arco do Triunfo homenageia as conquistas militares de Napoleão. A Catedral de Notre-Dame, que foi construída entre os séculos XII e XIV, se destaca por seus vitrais coloridos e por seus altos arcos de pedra.<br><a class="text-uppercase link-dark bg-primary bg-gradient border rounded-pill border-primary shadow-sm d-block" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" href="final-paris.html" style="color: var(--bs-dark);font-size: 12.4px;line-height: 20.1px;letter-spacing: 1px;height: 42px;margin: 19px;">R$ 2.500,00<br>CLIQUE PARA FINALIZAR</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>