
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h3 style="font-size: 36.752px;margin: -25px;padding: -37px;"><br>Revise sua compra</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 offset-lg-4">
                        <div class="card border-0"><a href="FinalDisney"><img class="card-img-top scale-on-hover" src="/img/Personagens-DisneyRoupa-50-anos.png" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Disney</a></h6>
                                <p class="text-muted card-text">Atualmente o complexo tem mais de 121 Km² de área (para se ter uma ideia é maior que a cidade de São Francisco), 4 parques temáticos e 2 aquáticos, com um centro de lazer e compras chamado Disney Springs e com mais de 25 resorts, com campo de golfe, complexo de esportes e mais uma infinidade de atividades e atrações.<br><a class="text-uppercase link-dark bg-primary bg-gradient border rounded-pill border-primary shadow-sm d-block" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" href="final-disney.html" style="color: var(--bs-dark);font-size: 12.4px;line-height: 20.1px;letter-spacing: 1px;height: 42px;margin: 19px;">R$ 899,00<br>CLIQUE PARA FINALIZAR</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>