
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h3 style="font-size: 36.752px;margin: -25px;padding: -37px;"><br>Revise sua compra</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 offset-lg-4">
                        <div class="card border-0"><a asp-controller="Home" asp-action="FinalRioDeJaneiro"><img class="card-img-top scale-on-hover" src="~/img/rio-de-janeiro-capa2019-01 (1).jpg" alt="Card Image" height="155px"></a>
                            <div class="card-body">
                                <h6><a href="#">Rio de Janeiro</a></h6>
                                <p class="text-muted card-text">A cidade do Rio de Janeiro, considerada uma das mais belas do mundo, é a capital do estado do Rio de Janeiro, na região Sudeste do Brasil. Todos os anos, suas belas praias atraem muitos turistas de outras partes do país e do exterior. No Carnaval, milhares de visitantes assistem aos desfiles das escolas de samba cariocas.<br><br><a class="text-uppercase link-dark bg-primary bg-gradient border rounded-pill border-primary shadow-sm d-block" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" href="final-riodejaneiro.html" style="color: var(--bs-dark);font-size: 12.4px;line-height: 20.1px;letter-spacing: 1px;">R$ 699,00<br>CLIQUE PARA FINALIZAR</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>