@{
    ViewData["Title"] = "Promoções";
}

    <main class="page cv-page">
        <section class="portfolio-block cv">
            <div class="container">
                <h2 class="text-center">PACOTES EM PROMOÇÃO</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-8 offset-lg-0">
                        <h3>DUBAI - Hotel + Aéreo 7 dias&nbsp;</h3>
                        <p class="text-muted">Voo direto do Rio de Janeiro</p>
                    </div>
                    <div class="col-12 col-lg-4 text-sm-end text-md-end text-lg-end text-xl-end text-xxl-end" style="text-align: center;">
                        <h4 class="d-inline-block organization">R$ 4.000,00</h4><a class="btn btn-outline-primary" role="button" href="/Home/FinalPromocao" style="text-align: center;margin: 15px;">COMPRAR</a><span class="period"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-8 offset-lg-0">
                        <h3>DUBAI - Hotel + Aéreo 7 dias&nbsp;</h3>
                        <p class="text-muted">Voo direto do Rio de Janeiro</p>
                    </div>
                    <div class="col-12 col-lg-4 text-sm-end text-md-end text-lg-end text-xl-end text-xxl-end" style="text-align: center;">
                        <h4 class="d-inline-block organization">R$ 4.000,00</h4><a class="btn btn-outline-primary" role="button" href="final-promocao.html" style="text-align: center;margin: 15px;">COMPRAR</a><span class="period"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-8 offset-lg-0">
                        <h3>DUBAI - Hotel + Aéreo 7 dias&nbsp;</h3>
                        <p class="text-muted">Voo direto do Rio de Janeiro</p>
                    </div>
                    <div class="col-12 col-lg-4 text-sm-end text-md-end text-lg-end text-xl-end text-xxl-end" style="text-align: center;">
                        <h4 class="d-inline-block organization">R$ 4.000,00</h4><a class="btn btn-outline-primary" role="button" href="final-promocao.html" style="text-align: center;margin: 15px;">COMPRAR</a><span class="period"></span>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col" style="font-size: -49px;letter-spacing: 0px;line-height: 17px;text-align: center;">
                            <h2 style="font-size: 32.4px;/*width: 700px;*/text-align: center;/*height: 18px;*/margin: 10px;padding: -20px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Informações</h2>
                            <div class="row" style="/*width: 700px;*/height: 22px;text-align: center;">
                                <div class="col-9" style="width: 200px;text-align: right;"><i class="icon ion-ios-telephone icon"></i></div>
                                <div class="col-auto" style="/*width: 800px;*/"><span>(21) 4005-3322</span></div>
                            </div>
                            <div class="row" style="height: -94px;padding: -30px;/*width: 700px;*/">
                                <div class="col-9" style="width: 200px;text-align: right;"><i class="icon ion-at icon"></i></div>
                                <div class="col-auto" style="/*width: 200px;*/"><span>forresterviagens@forrester.com</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hobbies group">
                    <div class="heading"></div>
                </div>
            </div>
        </section>
    </main>